{% extends "base.html.twig" %}
{% block contents %}
<div id="content"></div>

<script>
  document.getElementById('content').innerHTML = marked({{ item.body|json_encode|raw}});
</script>

{% endblock contents %}
